@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Poppins:wght@300;400&display=swap');
/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar css */
.container-fluid{
  max-width: 1680px;
}

.navbar{
  font-family: "Poppins", sans-serif;
  font-size: 17xp;
  line-height: 26xp;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px rgb(155, 155, 155);
  --webkit-box-shadow: 0 8px 6px -6px  rgb(155, 155, 155);
  border-bottom: solid  rgb(155, 155, 155) !important;
}

.nav-link{
  font-weight: 300 !important;
}

.active{
  border-bottom: 2px solid black;
}

.navbar-brand{
  font-weight: 700;
  font-family: 'roboto', sans-serif;
  letter-spacing: 3px;
}

.navbar-brand .icon-brand{
  margin-bottom:0.4rem;
}

/* footer */
.footer{
  padding: 2rem;
  background-color:  rgb(41, 41, 41);
}

.footer h2 {
  margin: 1rem 0rem ;
  color: white;
}

.footer a{
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover{
  color: white;
  border-bottom: 2px solid black;
}

/* page not found */
.pnf{
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title{
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading{
  font-weight: normal;
}

.pnf-btn{
  color:black;
  border:  1px solid black;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
}

.pnf-btn:hover{
  background-color: black;
  color: white;
}

/* contact */
.contactus {
  margin: 0;
  padding: 0;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* register */
.container-auth{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  flex-direction: column;
}

/* ----------product-------- */
.product-link{
  text-decoration: none !important;
  color: black !important;
}

.icon-shop{
  font-size: 1.5rem;
  padding-bottom: 2px;
}

.cart-product{
  height: 200px !important;
  width: 200px !important;
}